*{
    margin: 0;
    padding: 0;
}

.contenedorBuscador {
    background-image: url("../imgs/amazon-maquina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
}

.contenedorBuscador .content{
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}


.contenedorBuscador .content h1,.contenedorBuscador .content p {
    color:white;
    text-align: center;
}

.barra-busqueda{
    max-width: 80%;
}

@media (min-width:1000px){
    .barra-busqueda{
        max-width: 50%;
    }
}