.layoutEditorObra{
	min-height: 100vh;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.titulo{
	color:#4a4a4a;
  	font-family: 'Lato', sans-serif;
  	line-height: 1.5;
  	font-size: 32px;
  	font-weight: 900;
}
.descripcion{
  	color:#000;
  	font-family: 'Lato',sans-serif;
  	font-size:20px; 
	font-weight: 400;
}
.titulo-descripcion{
  	color:#000;
  	font-family: 'Lato',sans-serif;
	font-size:18px; 
  	font-weight: 700;
}

.nota {
  	font-family: 'Lato', sans-serif;
  	font-weight:300;
  	font-size: 16px;
}
