.containerEntradas{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.containerEntradas .imagenRegister{
    margin-top: -40px;
}
.containerEntradas .containerBusquedaEntradas{
    width: 100%;
}

.containerEntradasCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}


.containerEntradasCards .entradaCard{
    background-color: #fff; 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    width: 80%;/* Ajustando al 80% de su padre en este caso el container de entradas*/
}

@media (min-width:200px) and (max-width:1000px){
    .containerRegister {
        width: 100%;
        padding: 15px;
        height: fit-content;
    }

    .containerEntradas{
        width:100%;
        padding: 20px;
    }
    .containerEntradasCards .entradaCard{
        width: 100%;
    }
}