/* Estilos de mi espacio*/
.contextMenu {
    background-color:#fff;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
    border-radius: 5px;
    width: 400px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    z-index: 1000;
    transition: all 200ms ease; 
    font-size: 18px;
}

/* each son of contextMenu will have a hover effect*/
.contextMenu > div:hover{
    background-color: #6c757d60;
}