.contenedorPrincipalEmpresasScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    flex-wrap: column;
    padding: 20px;
}

/* HERO SECTION COMPONENT*/
.heroSectionEmpresas{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color:#f5f8e5;
    padding: 20px;
    margin-top: 15px;
    border-radius: 15px;
}

.heroSectionEmpresas .titulo{
    font-size: 24px;
}

.heroSectionEmpresas .descripcion {
    font-size: 18px;
}

.heroSectionImg{
    width: 400px;
}

.heroSectionBorder{
    width: 100vw;
    height:40px;
    margin:20px 0px 20px 0px;
}

@media (min-width:100px) and (max-width:1200px){
    .heroSectionImg{
        display: none;
    }

    .heroSectionEmpresas{
        width: 100%;
    }
}

/* EMPRESA CARDS COMPONENT*/

.empresasCardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 60%;
}

.empresaCard{
    width: 100%;
    height:200px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
    cursor: pointer;

    position:relative;
}
.empresaCard .triangulo{
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 80px;
    border-color: transparent transparent #ffc107 transparent;
}

.empresaCard .contentLeft .logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 150px;
    height: 150px;
    background-color:#f5f2fd;
}

.empresaCard .contentLeft .logoContainer img{
    width: 100%;
}


.empresaCard .contentLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.empresaCard .contentLeft .obraInformation .titulo-descripcion{
    font-size: 25px;
}

.empresaCard .contentLeft .obraInformation .descripcion{
    font-size: 20px;
}

.obraInformation{
    margin-left: 20px;
}

.empresaCard:hover {
    border: 3px solid #ffc107;
    overflow: hidden;
}

@media (min-width:100px) and (max-width:1200px){
    .empresasCardsContainer{
        width: 100%;
    }
}
