.cardProduct{
    margin: 0 auto;
}
@media(min-width:300px) and (max-width:1000px){
    .cardProduct{
        width: 100%;
    }
}
@media(min-width:1001px){
    .cardProduct{
        width: 80%;
    }
}