body {
    height: 1800px;
}
.bg-trainer {
    background-image: url("../assets/imgs/wallpaper 1.jpg");
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
}
.carousel-black {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.5) 100%
    );
}
.bg-paper {
    background-position: 25% 15%;
}
