body {
    background: #fff;
    background: linear-gradient(to right, #ffffff, #c4c3bf);
}
.bg {
    background-image: url("./assets//BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.bgRegistro {
    background-image: url("./assets//BGRegistro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

@media(min-width:300px) and (max-width:1000px){
    .login{
        height: 100vh;
        overflow:auto;
    }
}

@media(min-width:1001px){
    .login{
        height: 80vh;
        overflow:auto;
    }
    .centrar{
        margin-top:80px;
    }
}
