.logoSanz{
    height: 25%;
    width: 25%;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}



.estilosModal{
    position: fixed; 
    top:50%;
    left:50%;
    width: 700px;
    height: 900px;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
}

