.site-card-border-less-wrapper {
	padding: 30px;
  	background: #ececec;
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap:20px;
}

.site-card-border-less-wrapper .card{
	max-width: 600px;
}