.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
  font-size: 14px;
  line-height: 1.66667;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}


/* Estilos de el producto screen*/


.imagen-producto{
  width: 552px;
  height: 552px;
  display: block; 
}

.nombre-producto{
  color:#4a4a4a;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 900;
}

.titulo-descripcion{
  color:#000;
  font-family: 'Lato',sans-serif;
  font-size:18px; 
  font-weight: 700;
}
.precio-por-unidad-producto{
  color:#000;
  font-family: 'Lato',sans-serif;
  font-size:50px; 
  font-weight: 700;
}
.descripcion{
  color:#000;
  font-family: 'Lato',sans-serif;
  font-size:20px; 
  font-weight: 700;
}

.estatus-producto{
  color:#000;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  font-size: 20px;
}

.nota {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size: 16px;
  text-align: center;
}

.descripcion-producto{
	  color:#000;
  	font-family: 'Lato',sans-serif;
  	font-size:20px; 
  	font-weight: 400;
}


@media(min-width:250px ) and (max-width:1000px){
	.imagen-producto{
		width: 250px;
  		height: 250px;
	}
}


/*Estilo de pantalla para registrar productos*/

.steps-content {
    height:fit-content ;
    min-height: 600px;
  	margin-top: 16px;
  	text-align: center;
  	background-color: #fafafa;
  	border: 1px dashed #e9e9e9;
  	border-radius: 2px;
    font-size: 18px;
}

.steps-action {
	margin-top: 24px;
}

.padre{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pageHeader .titulo-descripcion {
  margin:0px;
}

