/* Global style for all components (Fonts) */
.titulo{
  color:#4a4a4a;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 900;
}

.sub-titulo{
  font-family: 'Lato',sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 900;
}

.titulo-descripcion{
  color:#000;
  font-family: 'Lato',sans-serif;
  font-size:18px; 
  font-weight: 700;
}

.descripcion{
	color:#000;
  	font-family: 'Lato',sans-serif;
  	font-size:20px; 
  	font-weight: 400;
}

.nota {
  font-family: 'lato', sans-serif;
  font-weight:300;
  font-size: 16px;
  text-align: center;
}


